@model ContactUpdateViewModel

<div class="row col-sm-6">
    <div class="col-sm-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Contact Update</h4>
                <form class="forms-sample" method="post" asp-action="Update" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Message">Message</label>
                        <input asp-for="Message" class="form-control" placeholder="Message">
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address">Address</label>
                        <input asp-for="Address" class="form-control" placeholder="Address">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddressIcon">Choose Address image</label>
                        <input asp-for="AddressIcon" class="form-control" placeholder="Sekil secin" accept="image/*">
                        <span asp-validation-for="AddressIcon" class="text-danger"></span>
                    </div>
                    <div style="margin-bottom:20px">
                        <img style="width:25px;height:25px" src="~/assets/images/contact/@Model.AddressImageUrl">
                    </div>
                    <div class="form-group">
                        <label asp-for="Website">Website</label>
                        <input asp-for="Website" class="form-control" placeholder="Website">
                        <span asp-validation-for="Website" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WebsiteIcon">Choose Website image</label>
                        <input asp-for="WebsiteIcon" class="form-control" placeholder="Sekil secin" accept="image/*">
                        <span asp-validation-for="WebsiteIcon" class="text-danger"></span>
                    </div>
                    <div style="margin-bottom:20px">
                        <img style="width:25px;height:25px" src="~/assets/images/contact/@Model.WebsiteImageUrl">
                    </div>
                    <div class="form-group">
                        <label asp-for="Number">Number</label>
                        <input asp-for="Number" class="form-control" placeholder="Number">
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TelIcon">Choose Tel image</label>
                        <input asp-for="TelIcon" class="form-control" placeholder="Sekil secin" accept="image/*">
                        <span asp-validation-for="TelIcon" class="text-danger"></span>
                    </div>
                    <div style="margin-bottom:20px">
                        <img style="width:25px;height:25px" src="~/assets/images/contact/@Model.TelImageUrl">
                    </div>                    
                    <div class="form-group">
                        <label asp-for="IsDeleted">IsDeleted</label>
                        <input asp-for="IsDeleted" placeholder="IsDeleted">
                        <span asp-validation-for="IsDeleted" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-light" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
